/* Tourist Base Styles */
/* Font */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import 'base';

/* Body */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font;
  margin: 0;
  background-size: 100%;
}

header {
  background-color: #8d2f31;
  height: 150px;
}

.tourist_title{
  color: #760002;
  text-transform: none;
  font-style: normal;
  font-family: 'Lobster', cursive;
  font-weight: 300;
  font-size: 3em;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 10px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 0.75em;
}

nav a:hover,
nav a:focus {
  outline: none;
}

header > section a {
  position: relative;
  display: inline-block;
  margin: 50px 0;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 0.75em;
  float: left;
}

header > section a:hover,
header > section a:focus {
  outline: none;
}

.container_content {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%
}

.modeIMG {
  display: inline-block;
  margin-left: 50px;
}
