= link_to 'zur Übersicht', trips_path, :class => 'btn btn-info pull-middle'
= link_to 'Tourstationen ändern', trip_path, :class => 'btn btn-primary pull-middle'
%br
%br
%h1 Touränderungen

= render 'form'
