%script{ :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false" }

.col-xs-12.col-sm-12.col-md-12.col-lg-12
  =render "show_header"
  .row
    .col-md-1
    .col-md-10.col-xs-12
      .panel.panel-default.container-50
        .panel-heading
          %h3.panel-title Tourdetails
        .panel-body
          .row
            .col-md-12
              %table.table.table-user-information
                %tbody
                  %tr
                    %td Dauer Begrüssung/Verabschiedung
                    %td
                      = @trip.duration
                  %tr
                    %td Kontaktdaten
                    %td
                      = @trip.contact
                  %tr
                    %td Bemerkungen
                    %td
                      = @trip.notes
                  %tr
                    %td Transportart
                    %td
                      = @trip.transport_type

              =render partial: 'trip_map', :locals => { :trip => @trip}
    .col-md-1

.col-xs-12.col-sm-12.col-md-12.col-lg-12
  .row
    .col-md-2
    .col-md-8
      =render partial: 'show_trip_stations_tabs', :locals => { :trip => @trip}
    .col-md-2