%br
%br
%h1.title1 Tours
%p.text
  Berlin Art Tours ist eine Plattform die Touren der besonderen Art anbieten müchten. Das Ziel soll nicht sein, fertige Standardtouren wie die der stadtüblichen Tourismus-Plattformen anzubieten,
  sondern eine Plattform zur Verfügung zu stellen, auf welcher individuelle Touren zusammengestellt und anderen Leuten angeboten werden können.
%p.text
  Egal ob Individualist, Shopping-Tourist oder Kunstspezialist. Jeder findet seine auf ihn zugeschnittene Tour auf Berlin Art Tour. Es sollen Touren aus allen möglichen Sparten angeboten
  werden. Egal ob individuelle Spezialitäten-Shopping Tour, Kunstgalerie-Marathon oder Reisegruppen mit eigenen Tourvorstellungen. Jeder soll seine Tour hier finden können.
%br/
%p.text-italic{:style => "text-align: center"} Melde dich jetzt an und suche deine persönliche Tour durch Berlin!


