Hallo #{@profile.first_name} #{@profile.last_name}


Der Tourist: #{@trip_request.tourist_name} hat die Touranfrage für die Tour: #{@trip_request.trip_name} gelöscht.


Beste Grüsse dein berlinarttours Team


