%body
  .form-error.larger.text-red
    %div
      %h1 Page not found
    %p
      Sorry, there's no way to go.
      %br
        %br
        %i You're searching a not existing site.
    %br/
    %p
      %a{:href => "http://www.gifbin.com/986877", :title => "Error Page not found"}
        %img{:src => "http://gifs.gifbin.com/072012/1343148079_polar_bear_ice_breaking_fail.gif"}/



