%body
  .form-error.larger.text-red
    %div
      %h1 We're sorry, but something went wrong.
      %br
    %br
    %p
      %a{:href => "http://www.gifbin.com/986877", :title => "Error Page not found"}
        %img{:src => "http://gifs.gifbin.com/072012/1343148079_polar_bear_ice_breaking_fail.gif"}/



