/* Form Styles */


.table-search {
    display: table;
    width: 100%;
}

.row-search {
    display: table-row;
}

.cell-search {
    padding-left: 10px;
    display: table-cell;
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

/* Search Styles */

.search-field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 18px;
    font-family: "Helvetica, sans-serif";
    padding: 10px;
    width: 50%;
    background-color: #fff;
    color: #ccc;
    border: 1px solid #c8c8c8;
    border-bottom-color: #d2e2e7;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 0 0 6px #f0f0f0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.search-field:focus {
    width: 80%;
    color: #666;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 6px #e0e0e0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 6px #e0e0e0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 6px #e0e0e0;
}
.search-field:active{
    width: 80%;
    color: #666;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 6px #e0e0e0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 6px #e0e0e0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.2), 0 0 0 6px #e0e0e0;
}

.search-button {
    width: 100px;
    height: 100px;
    background-image: url(../../../../Berlin.../images/search_button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 60%;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}


.login-button {
    width: 100px;
    height: 100px;
    background-image: url(../../../../Berlin.../images/login.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 60%;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.search-button:hover {
    opacity: 0.5;
}

