
/* Text Styles */

.title1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #7a0103;
    text-align: left;
    margin-bottom: 25px;
}

.title2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    color: #7a0103;
    text-align: left;
    margin-bottom: 15px;
}

.title3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    color: #7a0103;
    text-align: left;
    margin-bottom: 10px;
}

.text {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 24px;
    color: #000;
    text-align: left;
    display: block;
}

.text-bold {
    font-weight: bold;
    color: #000;
    text-align: left;
    display: block;
}

.text-light {
    font-weight: lighter;
    color: #000;
    text-align: left;
}


.text-italic {
    font-weight: lighter;
    font-style: italic;
    color: #000;
    text-align: left;
}


.text-bold-italic {
    font-weight: bold;
    font-style: italic;
    color: #000;
    text-align: left;
}


.text-light-italic {
    font-weight: lighter;
    font-style: italic;
    color: #000;
    text-align: left;
}

br {
    margin-bottom: 5px;
}

.text-16 {
    font-size: 16px;
}

.text-14 {
    font-size: 16px;
}

.text-12 {
    font-size: 16px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto }




