#dropzone {
  outline: 1px solid;
  outline-color: rgba(80,80,80,0.8);
  outline-offset: 4px;
  display: inline-block;
  border: 1px;
  border-color: rgba(80,80,80,0.8);
  border-style: dashed;
  width: 250px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-outline-radius: 10px;
  -moz-outline-radius: 10px;
  outline-radius: 10px;
}
#dropzone.in {
  width: 600px;
  height: 200px;
  line-height: 200px;
  font-size: larger;
}
#dropzone.hover {
  background: lawngreen;
}
#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

.upload {
  outline: 1px solid;
  outline-color: rgba(80,80,80,0.8);
  outline-offset: 4px;
  display: inline-block;
  border: 1px;
  border-color: rgba(80,80,80,0.8);
  border-style: dashed;
  width: 250px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-outline-radius: 10px;
  -moz-outline-radius: 10px;
  outline-radius: 10px;
}