%body#page-top
  / Navigation
  %nav.navbar.navbar-custom.navbar-fixed-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
          %i.padding-top.fa.fa-bars.fa-2x.text-white
        / Title
        %a.page-scroll{:href => "#page-top"}
          %span.tourist_title
            =t("intro.title")
            =link_to image_tag("guide_site.svg" , alt: "Du bist ein Guide", width: "100px"), intro_index_path
            %a{:href => "index.html"}


      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-right.navbar-main-collapse
        %ul.nav.navbar-nav
          / Hidden li included to remove active class from about link when scrolled up
          %li.hidden
            %a{:href => "#page-top"}
          %li
            %a.page-scroll{:href => tourist_home_path}
              =t("header.letsstart")
          %li
            %a.page-scroll{:href => profiles_show_path}
              =t("header.myprofile")
          %li
            %a.page-scroll{:href => guide_tours_new_path}
              =t("header.create_tours")


        %ul.nav.navbar-nav
          - if user_signed_in?
            = link_to image_tag(get_profile(current_user), :class =>"img-thumbnail img-circle", :style => "width: 55px; height:55px;"), destroy_user_session_path, :method=>'delete'
          - else
            = link_to image_tag("loggedOut.svg", :width=>"75px"), new_user_session_path

  / Header
  %header{class: getHeader(request.path_info)}
    .intro-body
      .container
        .row
          .col-md-8.col-md-offset-2
            %h1.brand-heading
              = t(getHeaderText(request.path_info))
            %a.btn.btn-circle.page-scroll{:href => "#body"}
              %i.fa.fa-angle-double-down.animated

  / Body Section
  %body{class: getBackground(request.path_info)}
    %section#body.container.content-section.text-center
      .container_content
        =render partial: "layouts/flash_messages", flash: flash
        =yield
